<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
        <meta property="og:url" content="https://kongbaguni.net" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="kongbaguni.net" />
        <meta property="og:description" content="Study Vue.js" />
        <meta property="og:image" content="https://kongbaguni.net/profile.jpeg" />
    
        <link rel="stylesheet" type="text/css" href="../style.css"></link>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="../java.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>

    <body>        
        <h1>Study Vue.js</h1>
        <article id="app1">
            <header>
                <h2>선언적 랜더링</h2>
            </header>
            <ol>
                <li>{{msg1}}</li>
                <li>{{msg2}}</li>
            </ol>
        </article>

        <article id="app2">
            <header>
                <h2>동적바인딩</h2>
            </header>
            <p>{{desc}}</p>
            <img v-bind:src="cat_image" width="100%" v-bind:title="msg"/>
            <p>
            <button v-on:click="cangePicture">그림 바꾸기</button>
            </p>
        </article>


        <article id="app3">
            <header>
                <h2>조건문과 반복문</h2>
            </header>
            <p v-if="show">show 가 true 면 이 메시지가 보인당께</p>
            <table>
                <thead>
                    <tr>
                        <th>number</th>
                        <th>photo</th>
                        <th>desc</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="cat_image in cat_images">
                        <th>{{cat_image.number}}</th>
                        <td><img v-bind:src="cat_image.url" width="100%"/></td>
                        <td>{{cat_image.desc}}</td>
                    </tr>
                </tbody>
            </table>
        </article>

        <article id = "app4">
            <header>
                <h2>사용자 입력 핸들링</h2>
            </header>
            <p>{{name}} : {{phone_number}}</p>
            <p><input v-model="name" /></p>
            <p><input type = "number" inputmode="tel" v-model="phone_number" @input="searchChangeFunc($event)"/></p>
        </article>

        <article id="gawebaweboh">
            <header>
                <h2>가위바위보</h2>
            </header>
            <table>
                <thead>
                    <tr>
                        <th>순번</th>
                        <th>나</th>
                        <th>컴퓨터</th>
                        <th>결과</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="result in gaweBaweBohResults">
                        <th>{{result.number}}</th>
                        <td>{{result.me}}</td>
                        <td>{{result.com}}</td>
                        <td>{{result.result}}</td>
                    </tr>
                </tbody>
            </table>
            <p>
                {{gaweBaweBohResults.length}} 전
                {{win}} 승 
                {{tied}} 무 
                {{lose}} 패
            </p>
            <p>
                <button v-on:click="gawe">
                    가위                              
                </button>
                <button v-on:click="bawe">
                    바위
                </button>
                <button v-on:click="boh">
                    보
                </button>
                <button v-on:click="reset">
                    reset
                </button>
                </p>                
        </article>


        <article id = "baseballGame">
            <header>
                <h2>야구 게임</h2>
            </header>
            <table>
                <thead v-if="game_data.length > 0">
                    <th>순번</th>
                    <th>숫자</th>
                    <th>판정</th>
                </thead>
                <tbody>
                    <tr v-for="data in game_data">
                        <th>{{data.count}}</th>
                        <td>{{data.input}}</td>
                        <td>{{data.result.strike}} 스트라이크 {{data.result.ball}} 볼</td>
                    </tr>
                </tbody>
                <tfoot v-if="game_start">
                    <tr>
                        <td colspan="3">
                            <input type = "number" inputmode="decimal"  v-model="input_number" @input="inputChange($event)" />
                        </td>
                    </tr>
                </tfoot>
            </table>
            <p v-if="!game_start">
                <button v-on:click = "new_game">
                    new game    
                </button>
            </p>
            
        </article>       

        <article id="poker">
            <header>
                <h2>포커</h2>
            </header>
            <h3>deck</h3>
            <div class="cardDeck before"> 
                <p>
                <img v-for="card in deck" src="./images/poker/back.svg" alt="card" width="50px" />
                </p>
            </div>
            <p>game status : {{game_status}}</p>
            <h3>dealer</h3>
            <p>{{dealer_hand.title}}</p>            
            <div class="cardDeck">
                <p v-if="dealer_open == false">
                <img v-for="card in dealer_deck" src="./images/poker/back.svg" alt="card" width="50px" />
                </p>
                <p v-if="dealer_open == true">
                    <img v-for="card in dealer_deck" v-bind:src="card.image" v-bind:alt="card.desc" width="50px" />
                    <span v-if="dealer_kiker != null">kiker : <img v-bind:src="dealer_kiker.image" v-bind:alt = "dealer_kiker.desc" width="40px"/></span>
                </p>
            </div>
            <h3>community</h3>
            <div class="cardDeck">
                <table>
                    <thead>
                        <tr>
                            <th v-for="value in dealer_cidx_arr">
                                <p v-if="value ==true">O</p>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td v-for="card in communiti_deck">
                                <img v-bind:src="card.image" v-bind:alt="card.desc" width="50px" />
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th v-for="value in player_cidx_arr">
                                <p v-if="value ==true">O</p>
                            </th>
                        </tr>
                    </tfoot>
                </table>
                <p>betting : {{betting}}</p>
            </div>
            <h3>player</h3>
            <p>money : {{players_money}}</p>
            <p>{{player_hand.title}}</p>
            <div class="cardDeck">
                <p>
                    <img v-for="card in player_deck" v-bind:src="card.image" v-bind:alt="card.desc" width="50px" />
                    <span v-if="player_kiker != null">kiker : <img v-bind:src="player_kiker.image" v-bind:alt = "player_kiker.desc" width="40px"/></span>
                </p>                

            </div>
            <p>
                {{game_result}}
            </p>
            <p>
                <button v-if="game_status == 'ready'" v-on:click="preflop">preflop</button>
                <button v-if="game_status == 'preflop'" v-on:click="flop">flop</button>
                <button v-if="game_status == 'flop'" v-on:click="turn">turn</button>
                <button v-if="game_status == 'turn'" v-on:click="river">river</button>
                <button v-on:click="reset">reset</button>
            </p>
        </article>

        <article id="app5">
            <header>
                <h2>컴포넌트</h2>
            </header>
        
            <ol>
            <cat-item
            v-for="cat in groceryList"
            v-bind:todo="cat"
            v-bind:key="cat.id"
            ></cat-item>  
            </ol>  
        </article>
    </body>
    <script src="./vue.js"></script>
</html>
