<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
        <meta property="og:url" content="https://kongbaguni.net" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="kongbaguni.net" />
        <meta property="og:description" content="Poker" />
        <meta property="og:image" content="https://kongbaguni.net/profile.jpeg" />
    
        <link rel="stylesheet" type="text/css" href="../style.css"></link>
        <link rel="stylesheet" type="text/css" href="./Poker.css"></link>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="../java.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>

    <body>
        <h1>Poker</h1>
        <article id = "poker">
            <header><h2>Poker</h2></header>
            <canvas v-if="walletMode == false" id="poker_canvas" width="347px" height="100px"></canvas>
            <table v-if="walletMode == true">
                <thead>
                    <tr>
                        <td>type</td>
                        <td>value</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>bank</td>
                        <td>{{getBankMoney()}}</td>
                    </tr>
                    <tr>
                        <td>wallet</td>
                        <td>{{getWalletMoney()}}</td>
                    </tr>
                </tbody>
            </table>
        </article>
        <article id = "holdem">
            <header><h2>Holdem</h2></header>     
            <p v-if="isInitCard() == true">
                <button v-if="game_status == 'ready'" v-on:click = "preflop">preflop</button>  

                <button v-if="game_status == 'preflop' || game_status == 'flop' || game_status == 'turn' || game_status == 'river'" v-on:click = "betting">betting</button>

                <button v-if="game_status != 'ready'" v-on:click = "reset">reset</button>    

            </p>
            <canvas id="holdem_canvas" width="347px" height="500px"></canvas>            
        </article>

        <article id="blackjack">
            <header><h2>BlackJack</h2></header>
            <p v-if="isInitCard() == true">
                <button v-on:click="start" v-if="game_status == 'ready'">start</button>
                <button v-on:click="hit" v-if="game_status == 'player_turn'">hit</button>
                <button v-on:click="stand" v-if="game_status == 'player_turn'">stand</button>
                <button v-on:click="reset" v-if="game_status != 'ready'">reset</button>
            </p>
            <canvas id="blackjack_canvas" width="347px" height="250px"></canvas>            
        </article>
    </body>
    <script src="./Poker.js"></script>
</html>