<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
        <meta property="og:url" content="https://kongbaguni.net" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="kongbaguni.net" />
        <meta property="og:description" content="Poker" />
        <meta property="og:image" content="https://kongbaguni.net/profile.jpeg" />
    
        <link rel="stylesheet" type="text/css" href="../style.css"></link>
        <link rel="stylesheet" type="text/css" href="./Poker.css"></link>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="../java.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>

    <body>
        <h1>Poker</h1>
        <article id = "poker">
            <header><h2>Poker</h2></header>
            <canvas v-if="!walletMode" id="poker_canvas" width="347px" height="100px"></canvas>            
            <div v-if="walletMode">
                <span class="jackpot">{{getJackpot()}}</span>
                <table>
                    <thead>
                        <tr>
                            <th>type</th>
                            <th>value</th>
                            <th>action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>bank</td>
                            <td>{{getBankMoney()}}</td>
                            <td><button v-on:click = "outMoney">출금</button></td>
                        </tr>
                        <tr>
                            <td>wallet</td>
                            <td>{{getWalletMoney()}}</td>
                            <td><button v-on:click = "inputMoney">입급</button></td>                            
                        </tr>
                    </tbody>
                </table>    
                <h3>betting</h3>
                <ul>
                    <li v-for="data in bettingBoard.data">                        
                        {{data}}
                    </li>
                </ul>
            </div>
        </article>
        <article id = "holdem">
            <header><h2>Holdem</h2></header> 
            <p v-if="isInitCard() == true">
                <button v-if="game_status == 'ready'" v-on:click = "preflop">start</button>  
                <button v-if="game_status == 'preflop' || game_status == 'flop' || game_status == 'turn' || game_status == 'river'" v-on:click = "betting">betting</button>
                <button v-if="game_status != 'ready' && game_status != 'preflop_anime'" v-on:click = "reset">restart</button>    
                <span>betting : {{getBetting()}}</span>
            </p>

            <canvas id="holdem_canvas" width="347px" height="500px"></canvas>            
        </article>

        <article id="blackjack">
            <header><h2>BlackJack</h2></header>
            <p v-if="isInitCard() == true">
                <button v-on:click="start" v-if="game_status == 'ready'">start</button>
                <button v-on:click="hit" v-if="game_status == 'player_turn' && !notNeedHit">hit</button>
                <button v-on:click="stand" v-if="game_status == 'player_turn'">stand</button>
                <button v-on:click="reset" v-if="game_status != 'ready'">restart</button>
                <span>betting : {{getBetting()}}</span>
            </p>
            <canvas id="blackjack_canvas" width="347px" height="250px"></canvas>            
        </article>
    </body>
    <script src="./Poker.js"></script>
</html>