<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"></meta>
        <meta property="og:url" content="https://kongbaguni.net" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="kongbaguni.net" />
        <meta property="og:description" content="Shooting Game" />
        <meta property="og:image" content="https://kongbaguni.net/profile.jpeg" />
    
        <link rel="stylesheet" type="text/css" href="../../style.css"></link>
        <link rel="stylesheet" type="text/css" href="./ShootingGmae.css"></link>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="../../java.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
        <script type="text/javascript" src="./GameUtil.js"></script>
        <title>Shooting Gmae</title>
    </head>

    <body>
        <h1>Shooting Game</h1>
        <div id = "audioController" v-if="!isIosSafari">
            <h2>audio controller</h2>
            <table>
                <tbody>
                    <tr>
                        <th>master</th>
                        <td><input v-model="master_volum" type="range" min="0" max="100" class="volume_mix"/></td>                        
                        <td>{{master_volum}}</td>
                    </tr>
                    <tr>
                        <th>music</th>
                        <td><input v-model="music_volum"  type="range" min="0" max="100" class="volume_mix"/></td>                        
                        <td>{{music_volum}}</td>
                    </tr>
                    <tr>
                        <th>effect</th>
                        <td><input v-model="effect_volum" type="range" min="0" max="100" class="volume_mix"/></td>
                        <td>{{effect_volum}}</td>
                    </tr>
                    <tr>
                        <th>mute</th>
                        <td colspan="2">
                            <input v-model="checkbox" type="checkbox" value="mute" class="volume_mix" />
                        </td>
                    </tr>
                </tbody>
            </table>                        
        </div>

        <script src="./AudioLoader.js"></script>

        <div v-if="!loadFinish" id = "imageLoader" v-bind:class = "getClassName()">
            <p class = "title">Now Loading...</p>
            <canvas id="imageLoading_canvas" width="347px" height="200px"></canvas>                    
        </div>
        <script src="./ImageLoader.js"></script>
        <div id = "game01">
            <div class="gamebox">
                <canvas id="game01_canvas" width="347px" height="500px"></canvas>
                <p v-if="gameOver" class = "gameOver">GAME OVER</p>

                <div class="controller">
                    <button v-if="!isStartGame() && !gameOver" v-on:click = "start">new game</button>
                </dic>                
            </div>
        </div>
        <script src="./Game.js"></script>

    </body>

    
</html>