.controller {
    float: left;
}
canvas {
    margin: 5px;
    border: 1px solid #fff;
    float : left;
}

button.on {
    background-color: yellow;
}
.recording {
    float:left
}
.videopreview img {
    border: 1px solid #fff;
    margin: 5px;
}

.videopreview {
    position: relative;
}

/* .videopreview > img {
    position: absolute;
} */